{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "flow-vars"
  ],
  "rules": {
    "no-console": 0,
    "flow-vars/define-flow-type": 2,
    "flow-vars/use-flow-type": 2
  }
}
